@charset "utf-8";

html {
  background: #CCC;
}

header {
  height: 150px;
  border-bottom: 1px solid #505050;
  margin-bottom: 10px;
}

.header-menu {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-menu li {
  list-style: none;
  flex: auto;
  height: 50px;
  margin: 10px;
  background-color: #8f4761;
}

.footer {
  border-top: 1px solid #505050;
  margin-top: 20px;
}

.main {
  height: 200px;
}
